.list-info {
    width: 70%;
    float: left;
}

.map-display {
    width: 30%;
    float: left;
    //name="map" id="map" width="0" height="0" style="
    border: 0;
}
#iframe_a {
    width: 1000;
    height: 1000;
}


// Comments
bold-line {
    font-display: bold-line;
}

label {
    margin-left: 10px;
    padding: 10;
    font-size: .8em;
    color: rgb(31, 12, 209);
}

button {
    margin-left: 10px;  //Put a 10 pixel space to the left of every button
    font-size: .6em;
    display: inline-block;
}

ul {
    list-style-type: none;  //No bullets or numbers on the list
    margin: 0;
    padding: 0;
    margin-top: 5px;  //Put a 5 pixel space between each line in the list
    align-items: left;
}

//Column-specific display settings
//Adjust the width % to make a column larger or smaller.
//NOTE:  the picture-display width also controls how large the picture is.
.picture-display {
    width: 5%;
    min-width: 60px;
}
.name-display {
    width: 20%;
    max-width: 120px;
    margin-left: 10px;  //Put a 10 pixel space between the picture and the name
}
.age-display {
    width: 10%;
    max-width: 50px;
}
.interests-display {
    width: 20%;
}
.address-display {
    width: 30%;
}
#map {
    width: 400px;
    height: 400px;
}
#map2 {
    width: 400px;
    height: 400px;
}
#map3 {
    width: 400px;
    height: 400px;
}
#map4 {
    width: 400px;
    height: 400px;
}

//This controls how the overall list displays.
.list-display {
    display:flex;  //Put each item on the same row.
    align-items:left;  //Aligns each item to the left of it's respective column
    flex-direction: row;

    h5 {
        font-size: 40px;
    }

    //Make the image rounded (i.e. a circle if originally square)
    img {
        border-radius: 50%;
    }

    li {
        font-size: 20px;
        list-style-position: inside;
        border-radius: 4px;
        display: inline-block;
    }


}
